<div>
    <div class='tcell header' style='width: 170px; height: 40px'></div>
    <input type='text' class='tcell header' style='width: 170px; height: 40px' name='0_1' value='reset'> <input
        type='text' class='tcell header' style='width: 170px; height: 40px' name='0_2' value='start'> <input type='text'
                                                                                                             class='tcell header'
                                                                                                             style='width: 170px; height: 40px'
                                                                                                             name='0_3'
                                                                                                             value='is_done'/>
    <div class='sym plus' onclick='col_plus()'>\u2795</div>
</div>
<div><input type='text' class='tcell ' style='width: 170px; height: 40px' name='1_0' value='IDLE'> <input type='text'
                                                                                                          class='tcell '
                                                                                                          style='width: 170px; height: 40px'
                                                                                                          name='1_1'
                                                                                                          value='IDLE'>
    <input type='text' class='tcell ' style='width: 170px; height: 40px' name='1_2' value='WORK'> <input type='text'
                                                                                                         class='tcell '
                                                                                                         style='width: 170px; height: 40px'
                                                                                                         name='1_3'
                                                                                                         value=''/>
    <div class='sym up' onclick='row_up(0)'>\u25b2</div>
    <div class='sym down' onclick='row_down(0)'>\u25bc</div>
    <div class='sym plus' onclick='row_plus(0)'>\u2795</div>
</div>
<div><input type='text' class='tcell ' style='width: 170px; height: 40px' name='2_0' value=''> <input type='text'
                                                                                                      class='tcell '
                                                                                                      style='width: 170px; height: 40px'
                                                                                                      name='2_1'
                                                                                                      value=''> <input
        type='text' class='tcell ' style='width: 170px; height: 40px' name='2_2' value='hello'> <input type='text'
                                                                                                       class='tcell '
                                                                                                       style='width: 170px; height: 40px'
                                                                                                       name='2_3'
                                                                                                       value=''/>
    <div class='sym up' onclick='row_up(1)'>\u25b2</div>
    <div class='sym down' onclick='row_down(1)'>\u25bc</div>
    <div class='sym plus' onclick='row_plus(1)'>\u2795</div>
</div>
<div><input type='text' class='tcell ' style='width: 170px; height: 40px' name='3_0' value=''> <input type='text'
                                                                                                      class='tcell '
                                                                                                      style='width: 170px; height: 40px'
                                                                                                      name='3_1'
                                                                                                      value=''> <input
        type='text' class='tcell ' style='width: 170px; height: 40px' name='3_2' value='hello'> <input type='text'
                                                                                                       class='tcell '
                                                                                                       style='width: 170px; height: 40px'
                                                                                                       name='3_3'
                                                                                                       value=''/>
    <div class='sym up' onclick='row_up(2)'>\u25b2</div>
    <div class='sym down' onclick='row_down(2)'>\u25bc</div>
    <div class='sym plus' onclick='row_plus(2)'>\u2795</div>
</div>
<div><input type='text' class='tcell ' style='width: 170px; height: 40px' name='4_0' value=''> <input type='text'
                                                                                                      class='tcell '
                                                                                                      style='width: 170px; height: 40px'
                                                                                                      name='4_1'
                                                                                                      value=''> <input
        type='text' class='tcell ' style='width: 170px; height: 40px' name='4_2' value='hello'> <input type='text'
                                                                                                       class='tcell '
                                                                                                       style='width: 170px; height: 40px'
                                                                                                       name='4_3'
                                                                                                       value=''/>
    <div class='sym up' onclick='row_up(3)'>\u25b2</div>
    <div class='sym down' onclick='row_down(3)'>\u25bc</div>
    <div class='sym plus' onclick='row_plus(3)'>\u2795</div>
</div>
<div><input type='text' class='tcell ' style='width: 170px; height: 40px' name='5_0' value='WORK'> <input type='text'
                                                                                                          class='tcell '
                                                                                                          style='width: 170px; height: 40px'
                                                                                                          name='5_1'
                                                                                                          value='IDLE'>
    <input type='text' class='tcell ' style='width: 170px; height: 40px' name='5_2' value=''> <input type='text'
                                                                                                     class='tcell '
                                                                                                     style='width: 170px; height: 40px'
                                                                                                     name='5_3'
                                                                                                     value='IDLE'/>
    <div class='sym up' onclick='row_up(4)'>\u25b2</div>
    <div class='sym down' onclick='row_down(4)'>\u25bc</div>
    <div class='sym plus' onclick='row_plus(4)'>\u2795</div>
</div>
